@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.terminal-path{
    font-size: small;
    margin-left: -2%;
}
.main-terminal {
    text-align: left;
    margin: -10% 0;
    padding: 0 5%;
    /* width: 80%; */
    height: 40%;
    font-size: small;  
}

.secondary-terminals {
    text-align: left;
    margin: -20% 0 10% 35%;
    padding: 0 5%;
    font-size: small;
    width: 80%;
    position: absolute;
}

.Typist .Cursor--blinking {
    display: none;
}

.terminal-window{
    padding: 0 0 5% 0;
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    box-shadow: -7px 5px 19px -6px rgba(80,80,80,0.75);
                -webkit-box-shadow: -7px 5px 19px -6px rgba(80,80,80,0.75);
                -moz-box-shadow: -7px 5px 19px -6px rgba(80,80,80,0.75);
    cursor: grab;           
}

.terminal-bar{
    padding: 2%;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.terminal-btn{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    padding: 1.5%;
    margin: 0 2%;
    border: 1px solid slategray;
}

.red{
    background-color: rgb(206, 57, 57);
    cursor: pointer;
}

.yellow{
    background-color: rgb(255, 217, 66);
}

.green{
    background-color: rgb(71, 164, 71);
}

.user {
    color: blue;
}

.user-input {
    border: none;
    background-color: rgb(242, 242, 242);
    color: blue;
    font-size: 20px;
}

.user-input:focus {
    outline: rgba(228, 242, 255, 0.529);
    background-color: rgba(222, 222, 222, 0.529);
}

.terminal-text{
    padding: 0 5%;
}

.terminal-text img {
    width: 50%;
}

@media only screen and (min-width: 768px) {

    .terminal-path{
        font-size: larger;
        margin-left: -2%;
    }
    .terminal-btn{
        height: 0.5px;
        width: 0.5px;
        padding: 1%;
    }
    .terminal-bar{
        padding: 1%;
    }

    .main-terminal {
        font-size: larger;  
        width: 50%;
    }
    
    .secondary-terminals {
        font-size: larger;  
        width: 50%;
    }
    
}