.main-page {
    height: 600px;
    /* margin: 0 0 10% 0; */
    /* padding: 0 0 10% 0; */
}

.terminals-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;

}