.main-page {
    width: 100vw;
    position: absolute;
    min-height: 100vh;
    
}

.terminals-section {
    display: flex;
    flex-direction: row;
    margin: -85% 0 0 0%;
    align-items: flex-end;
    flex-wrap: wrap;
}

.window-transition-enter {
    opacity: 0.01;
}

.window-transition-enter.window-transition-enter-active {
opacity: 1;
transition: opacity 500ms ease-in;
}

.window-transition-leave {
opacity: 1;
}

.window-transition-leave.window-transition-leave-active {
opacity: 0.01;
transition: opacity 600ms ease-in;
}

@media only screen and (min-width: 768px) {

    .terminals-section {
        margin: -35% 0 0 0%;
    }
}

@media only screen and (min-width: 992px) {
    
    .terminals-section {
        margin: -25% 0 0 0%;
    }
}

@media only screen and (min-width: 1200px) {
    
    .terminals-section {
        margin: -5% 0 0 0%;
    }

}