@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway:wght@400;500;600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url('./images/BG.png');
  background-size: cover;
  /* background-color: rgb(233,244,255);
  background-color: linear-gradient(145deg, rgba(233,244,255,1) 0%, rgba(255,235,183,1) 100%); */
}

h1 {
  font-size: large;
}
p {
  line-height: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
